<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create</a>

    </div>
    <%= JSON.stringify(user) %>
        <div class="form">
            <h1>Update a User</h1>
            <form action="/update-user" method="post">
                <fieldset>
                    <div class="input-group" style="display: none;">
                        <label>Id:</label>
                        <input type="text" name="userId" id="emailId" value="<%= user.id %>">
                    </div>
                    <div class="input-group">
                        <label>Email:</label>
                        <input type="text" name="email" id="emailId" value="<%= user.email %>">
                    </div>
                    <div class="input-group">
                        <label>Name:</label>
                        <input type="text" name="name" value="<%= user.name %>">
                    </div>
                    <div class="input-group">
                        <label>City:</label>
                        <input type="text" name="city" value="<%= user.city %>">
                    </div>
                    <button>Submit</button>
                </fieldset>
            </form>

        </div>

</body>

</html>